body {
  background: #edeff2;
  display: grid;
  grid-template-areas: "header" "content" "footer";
}

header {
  grid-area: header;
}
#content {
  grid-area: content;
}
footer {
  grid-area: footer;
}

.font1 {
  font: normal normal normal 18px "noticia text", serif;
  color: #3c4148;
}
.font2 {
  font: normal normal normal 16px "open sans", sans-serif;
  color: #3c4148;
}

header,
#content,
footer > div {
  width: 80%;
}

/* MOBILE */
@media (max-width: 1100px) {
  header,
  #content,
  footer > div {
    width: 90%;
  }
}
