body {
    background: #edeff2;
}

.font1 {
    font: normal normal normal 46px/1.2em 'noticia text',serif;
    color: #3c4148;
}

.font2 {
    font: normal normal normal 13px/1.4em 'open sans',sans-serif;
    color: #3c4148;
}

/* NAVIGATION */
header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
header nav {
    width: 55%;
    position: relative;
    bottom: 18px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav * {
    list-style-type: none;
    text-decoration: none;
    color: #8B8B8B;
    font-weight: bold;
    transition: color 0.4s ease 0s;
    font-size: 14px;
}
nav .selected, nav  a:hover{
    color: #2e91ed;
}


/* CONTENT */

.content{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photo{
    border-radius: 50%;
    width: 40%;
    height: 40%;
}

.circle-box {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.content .short-bio {
    margin-left: 20px;
    width: 60%;
}

.circle{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edeff2;
    font-size: 13px;
    text-decoration: none;
    transition: background-color 0.4s ease 0s;
}

a.c1 {
    background-color: #0c51a0;
}
a.c1:hover{
    background-color: #062549;
}

a.c2{
   background-color: #2e91ed; 
}
a.c2:hover{
    background-color: #15426c;
}

a.c3{
   background-color: #34acf7; 
}
a.c3:hover{
    background-color: #184f71;
}

/* FOOTER */
footer {
    background-color: #292f36;
}

footer a {
    color: #edeff2;
}

footer > div {
    height: 100px;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > div > div{
    width: 50%;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: flex-start;
    color: #edeff2;
    font: normal normal normal 18px/1.4em 'open sans',sans-serif;
}

footer > div > div > div {
    margin-left: 20px;
    width: 75%;
}

footer > div > div > div > div {
    margin-top: 5px;
}

footer .icon {
    height: 60px;
    width: 60px;
}

footer .follow-bar > ul {
   list-style-type: none;
   text-decoration: none; 
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 0;
   margin: 0;
}

footer .follow-bar > ul * {
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: #edeff2;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 0.4s ease 0s;
}

footer .follow-bar > ul a *:hover{
    background: #da3925;
}

footer .email, footer .email:visited {
    text-decoration: none;
    /* transition: test-decoration 0.4s ease 0s */
}

footer .email:hover {
    text-decoration: underline;
}
